/*---------------------*/

main {
    flex-direction : row;
    flex-wrap: wrap;
}

/*---------------------*/

.card-img {
    width : 25vw;
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    border-radius:20px;
    margin:  2em 2em;
    filter : blur(3px);
}


.card-img:hover {
    transition: all 0.5s ease 0s;
    filter:blur(0);
    scale : 1.1;
}

/*---------------------*/

.introduction {
    width : 75%;
}

/*---------------------*/



.icons {
    display :flex;
    justify-content: space-around;
    margin : 2em 0;
    border-bottom: 0.1em solid #111;
    flex-wrap: wrap;
}

.icons li {
    list-style-type: none;
}

.icon-Twitter {
    animation-delay: 1s;
}

.icon-Instagram {
    animation-delay: 2s;
}

.icon-Github {
    animation-delay: 3s;
}

.icon-Mail {
    width : 10em;
    animation :none;
}



@media screen and (max-width: 750px) {

    .image:hover {
        scale : 1.3;
    }
    main {
        flex-direction : column;
    }

    .introduction {
        margin : 15vh 0;
    }
}