/*---------------------*/

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description section {
    text-align: center;
    width: 45vw;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    margin : 0 1em 5em 1em;
}

.description-title {
    margin-bottom : 2em;
}

.list-li , p{
    margin : 0 1em 2em 1em;
}


.WebSite-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons-img {
    margin-bottom : 4em;
}


@media screen and (max-width:750px) {
    .description section {
        width : 85vw;
    }
}