/*---------------------*/

.cards {
    display : flex;
    flex-direction : row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width : 15em;
    height : 15em;
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    border-radius:20px;
    margin:  2em 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color : #fff;
}

.card:hover {
    transition: all 0.5s ease 0s;
    scale : 1.2;
}

.presentation {
    display : flex;
    flex-direction : column;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    flex-wrap:wrap;
}


.HTB-card {
    background-image: url('../img/HTB.png');
}

.DVWA-card {
    background-image: url('../img/DVWA.png');
    background-size: contain;
}

.DicoPedago-card {
    background-image: url('../img/DicoPedago.png');
}

.TowerDefense-card {
    background-image: url('../img/TowerDefense-img.png');
}

.PiNetwork-card {
    background-image: url('../img/Pi-Network-img.jpeg');
}

.SpaceInvaders-card {
    background-image: url('../img/SpaceInvaders-img.jpeg');
}

.BUT_an1_SAE104-card {
    background-image: url('../img/BUT_an1_SAE104-img.png');
    background-size: 40% 40%;
}